@model Services.Models.WeatherResult

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <h2>Weather Information</h2>
        <p>City: @(Model.Name ?? "N/A")</p>
        <p>Temperature: @(Model.Main?.TempCelsius ?? 0) °C</p>
        <p>Wind: @(Model.Wind.Speed + "Km/h" ?? "N/A")</p>
        <p>Weather: @(string.Join(", ", Model.Weather.Select(weather => weather.Description)))</p>
        <p>Location: Lat @(Model.Coord?.Lat ?? 0), Lon @(Model.Coord?.Lon ?? 0)</p>
    </div>
</div>
